{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<br>


<table style="border-collapse: collapse; width: 100%;"><tbody>
	<tr style="height: 250px;">
	
		<td style="vertical-align: middle; width: 60%; height: 250px;">
			<p> <strong><span style="font-family:Times New Roman; font-size: 16pt;color: #008080;">Book Title: Practicing Federated Learning</span></strong></p>
			
			<p style="font-family:Times New Roman;font-size: 13pt;"><strong>Abstract</strong>: This book makes valuable contribution to practical federated learning and privacy-preserving computation. The material is well structured, the terminologies and basic knowledge are well explained, coupled with many case studies and pseudo-codes help to understand the facts of this interesting field of research. </p>
			
		
			<p style="font-family:Times New Roman;font-size: 13pt;"> <strong>Authors:</strong> Qiang Yang,&nbsp;&nbsp;<strong>Anbu Huang</strong>,&nbsp;&nbsp;Yang Liu,&nbsp;&nbsp;Tianjian Chen<br><strong>Publisher:</strong> Publishing House of Electronics Industry (PHEI)<br><strong>ISBN:</strong> 9787121407925<br><strong>Date:</strong> 2021-05-01</p>

			
			<p style="font-family:Times New Roman;font-size: 13pt;color: #008080;"> <a href="https://github.com/FederatedAI/Practicing-Federated-Learning">Code</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://item.jd.com/13206070.html">Purchase</a></p>
		</td>
		
		<td style="vertical-align: middle; width: 40%; height: 250px;"> <img style="display: block; margin-left: auto; margin-right: auto;" src="/images/pfl_book.png" alt="" width="260"></td>
		
		
	</tr>
</tbody></table>


<br>


<table style="border-collapse: collapse; width: 100%;"><tbody>
	<tr style="height: 250px;">
	
		<td style="vertical-align: middle; width: 60%; height: 250px;">
			<p> <strong><span style="font-family:Times New Roman; font-size: 16pt;color: #4A0080;">Book Title: Dive into Deep Learning</span></strong></p>
			
			<p style="font-family:Times New Roman;font-size: 13pt;"><strong>Abstract</strong>: Deep learning has become essential for machine learning practitioners and even many software engineers. This book provides a comprehensive introduction for data scientists and software engineers with machine learning experience. You’ll start with deep learning basics and move quickly to the details of important advanced architectures, implementing everything from scratch along the way.</p>
			
		
			<p style="font-family:Times New Roman;font-size: 13pt;"> <strong>Authors: Anbu Huang</strong><br><strong>Publisher:</strong> Publishing House of Electronics Industry (PHEI)<br><strong>ISBN:</strong> 9787121312700<br><strong>Date:</strong> 2017-06-01</p>

			
			<p style="font-family:Times New Roman;font-size: 13pt;color: #4A0080;"> <a href="https://github.com/innovation-cat/DeepLearningBook">Code</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://e.jd.com/30458027.html?ebook=1">Purchase</a></p>
		</td>
		
		<td style="vertical-align: middle; width: 40%; height: 250px;"> <img style="display: block; margin-left: auto; margin-right: auto;" src="/images/dl_book.png" alt="" width="260"></td>
		
		
	</tr>
</tbody></table>
