{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}





<div  class="{{ include.type | default: "list" }}__item">
	<p style="font-family:Times New Roman;font-size:110%;margin-bottom:1px;">I participated in some AI-related services, including conferences' organization and papers' review, the main service areas involved: <br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&diams;&nbsp;&nbsp;&nbsp;Deep Learning, Machine Learning, Computer Vision, Data Mining, etc<br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&diams;&nbsp;&nbsp;&nbsp;Security/Privacy, Distributed Learning, Federated Learning, Edge Computing, etc<br>
	</p>
</div>



<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
	<p style="font-family:Times New Roman;font-size:110%;margin-bottom:1px;"><b>Conferences Organizer:</b></p>
    <p style="font-family:Times New Roman;margin-top:1px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&diams;&nbsp;&nbsp;&nbsp;<a href="https://federated-learning.bitbucket.io/ibm2020/">FL-IBM'20</a>, New York, NY, USA<br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&diams;&nbsp;&nbsp;&nbsp;<a href="https://federated-learning.org/fl-ijcai-2019/">FL-IJCAI'19</a>, Macau</p>
  </article>
</div>

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
	<p style="font-family:Times New Roman;font-size:110%;margin-bottom:1px;"><b>Papers Reviewer:</b></p>
    <p style="font-family:Times New Roman;margin-top:1px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&diams;&nbsp;&nbsp;&nbsp;Journal <br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;IEEE Transactions on Medical Imaging (IEEE TMI) <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;IEEE Intelligent Systems<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;ACM Transactions on Intelligent Systems and Technology (ACM TIST)</p>
	

	
	
	<p style="font-family:Times New Roman;margin-top:1px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&diams;&nbsp;&nbsp;&nbsp;Workshop <br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;FL-NeurIPS'22 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;FL-NeurIPS'21 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;FL-IJCAI'19</p>
	

	
	
	<p style="font-family:Times New Roman;margin-top:1px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&diams;&nbsp;&nbsp;&nbsp;Conference <br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;AAAI 2021 </p>
  </article>
</div>

