{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}







<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
	<p style="font-family:Times New Roman;font-size:110%;margin-bottom:1px;"><b>United States Patent:</b></p>
    <p style="font-family:Times New Roman;margin-top:1px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#9642;&nbsp;&nbsp;&nbsp;<a href="https://patentimages.storage.googleapis.com/36/bb/93/fe602c978e0c81/US10706363.pdf">Data recommendation method and device, and storage medium  </a><b>(Granted)</b>
 <br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;Patent No.:&nbsp;&nbsp;US10706363B2</p>
	

	
	
  </article>
</div>


<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
	<p style="font-family:Times New Roman;font-size:110%;margin-bottom:1px;"><b>WIPO (PCT):</b></p>
    <p style="font-family:Times New Roman;margin-top:1px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#9642;&nbsp;&nbsp;&nbsp;<a href="https://patentimages.storage.googleapis.com/a4/99/0b/0294c07dc944f2/WO2017193897A1.pdf">Data recommendation method and device therefor, and storage medium  </a>
 <br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;Patent No.:&nbsp;&nbsp;WO2017193897A1</p>
	

	<p style="font-family:Times New Roman;margin-top:1px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#9642;&nbsp;&nbsp;&nbsp;<a href="https://patentimages.storage.googleapis.com/da/f4/12/e5d63c69a71a96/WO2020259717A1.pdf">Method, apparatus, and terminal device for controlling federated learning system, and storage medium  </a>
 <br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;Patent No.:&nbsp;&nbsp;WO2020259717A1</p>
	
  </article>
</div>


<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
	<p style="font-family:Times New Roman;font-size:110%;margin-bottom:1px;"><b>China National Intellectual Property Administration:</b></p>
    <p style="font-family:Times New Roman;margin-top:1px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#9642;&nbsp;&nbsp;&nbsp;<a href="https://patentimages.storage.googleapis.com/ce/f1/fb/a15a14521b89de/CN105959374B.pdf">A kind of data recommendation method and its equipment  </a><b>(Granted)</b>
 <br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;Patent No.:&nbsp;&nbsp;CN105959374B</p>
	
	<p style="font-family:Times New Roman;margin-top:1px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#9642;&nbsp;&nbsp;&nbsp;<a href="https://patentimages.storage.googleapis.com/ad/11/b5/2b9769342af7e9/CN108197327B.pdf">Song recommendation method, device and storage medium  </a><b>(Granted)</b>
 <br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;Patent No.:&nbsp;&nbsp;CN108197327B</p>
	
	<p style="font-family:Times New Roman;margin-top:1px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#9642;&nbsp;&nbsp;&nbsp;<a href="https://patentimages.storage.googleapis.com/9b/68/0e/a8ce9dfd9e727d/CN110263921B.pdf">Method and device for training federated learning model  </a><b>(Granted)</b>
 <br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;Patent No.:&nbsp;&nbsp;CN110263921B
</p>
	

	
	
		<p style="font-family:Times New Roman;margin-top:1px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#9642;&nbsp;&nbsp;&nbsp;<a href="https://patentimages.storage.googleapis.com/1f/b9/24/4e01b8e2cb189a/CN110942154B.pdf">Data processing method, device, equipment and storage medium based on federal learning  </a><b>(Granted)</b>
 <br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;Patent No.:&nbsp;&nbsp;CN110942154B
</p>

		<p style="font-family:Times New Roman;margin-top:1px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#9642;&nbsp;&nbsp;&nbsp;<a href="https://patentimages.storage.googleapis.com/43/2e/ea/b2d049101ab705/CN110380917B.pdf">Control method and device of federal learning system, terminal equipment and storage medium  </a><b>(Granted)</b>
 <br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;Patent No.:&nbsp;&nbsp;CN110380917B
</p>


		<p style="font-family:Times New Roman;margin-top:1px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#9642;&nbsp;&nbsp;&nbsp;<a href="https://patentimages.storage.googleapis.com/9d/05/ef/b7b643c3c748a4/CN105893515B.pdf">Information processing method and server  </a><b>(Granted)</b>
 <br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;Patent No.:&nbsp;&nbsp;CN105893515B
</p>



		<p style="font-family:Times New Roman;margin-top:1px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#9642;&nbsp;&nbsp;&nbsp;<a href="https://patentimages.storage.googleapis.com/b1/52/3c/56af27f727d880/CN105740210B.pdf">Information similarity determination method and device  </a><b>(Granted)</b>
 <br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;Patent No.:&nbsp;&nbsp;CN105740210B
</p>



		<p style="font-family:Times New Roman;margin-top:1px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#9642;&nbsp;&nbsp;&nbsp;<a href="https://patentimages.storage.googleapis.com/1c/8e/58/af32fc49bcb34d/CN109871702A.pdf">Federal model training method, system, equipment and computer readable storage medium
  </a><b>(Published)</b>
 <br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;Patent No.:&nbsp;&nbsp;CN109871702A
</p>



		<p style="font-family:Times New Roman;margin-top:1px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#9642;&nbsp;&nbsp;&nbsp;<a href="https://patentimages.storage.googleapis.com/ef/b5/22/ffc4e825f5f8e1/CN110297848A.pdf">Recommended models training method, terminal and storage medium based on federation's study
  </a><b>(Published)</b>
 <br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;Patent No.:&nbsp;&nbsp;CN110297848A
</p>



		<p style="font-family:Times New Roman;margin-top:1px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#9642;&nbsp;&nbsp;&nbsp;<a href="https://patentimages.storage.googleapis.com/76/06/b3/2bf35fa863534e/CN110929880A.pdf">Method and device for federated learning and computer readable storage medium
  </a><b>(Published)</b>
 <br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;Patent No.:&nbsp;&nbsp;CN110929880A
</p>




		<p style="font-family:Times New Roman;margin-top:1px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#9642;&nbsp;&nbsp;&nbsp;<a href="https://patentimages.storage.googleapis.com/66/87/22/968119d0ea77fd/CN112580821A.pdf">Method, device and equipment for federated learning and storage medium
  </a><b>(Published)</b>
 <br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;Patent No.:&nbsp;&nbsp;CN112580821A
</p>


		<p style="font-family:Times New Roman;margin-top:1px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#9642;&nbsp;&nbsp;&nbsp;<a href="https://patentimages.storage.googleapis.com/4f/9e/30/45ba5656e52036/CN111382706A.pdf">Prediction method and device based on federal learning, storage medium and remote sensing equipment
  </a><b>(Published)</b>
 <br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;Patent No.:&nbsp;&nbsp;CN111382706A
</p>
	
	
	
	
	
  </article>
</div>

