{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}



<br>

<table style="border-collapse: collapse; width: 100%;"><tbody>
	<tr bgcolor="#DEDEDC">
		<th colspan="2" align="left">
			<p> <strong><span style="font-family:Times New Roman; font-size: 18pt;">Awesome Federated Machine Learning </span></strong></p>
		</th>
	</tr>
	<tr style="height: 250px;">
	
		
		
		<td style="vertical-align: middle; width: 30%; height: 250px;"> <img style="display: block; margin-left: auto; margin-right: auto;" src="/images/project1.png" alt="" width="300"></td>
		
		
		<td style="vertical-align: middle; width: 70%; height: 250px;">
			
			
			<p style="font-family:Times New Roman;font-size: 13pt;">
Everything about federated learning, the goal is to keep tracking the latest research advancements of federated learning, including but not limited to research papers, books, codes, tutorials, and videos.
</p>

			<p style="font-family:Times New Roman;font-size: 13pt;">
1. Top Machine Learning Conferences (<a href="https://icml.cc/">ICML</a>,&nbsp; <a href="https://iclr.cc/">ICLR</a>,&nbsp; <a href="https://neurips.cc/">NeurIPS</a>)<br>
2. Top Computer Vision Conferences (CVPR,&nbsp; ICCV,&nbsp; ECCV)<br>
3. Top Artificial Intelligence and Data Mining Conferences (<a href="https://www.aaai.org/">AAAI</a>, &nbsp;<a href="https://aistats.org/">AISTATS</a>,&nbsp; <a href="https://kdd.org/conferences">KDD</a>)<br>
4. Books<br>
5. Papers with different research directions <br>
6. Conference workshops <br>
7. Videos, Tutorials, Blogs, and Open sources
</p>

			<p style="font-family:Times New Roman;font-size: 13pt;">
</p>
			
			
			<p style="font-family:Times New Roman;font-size: 13pt;">Code:&nbsp;<a href="https://github.com/innovation-cat/Awesome-Federated-Machine-Learning">Github Project</a></p>
		</td>
		
		
	</tr>
</tbody></table>