{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<br>

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <p style="font-family:Times New Roman;font-size:110%;margin-bottom:1px;">&bull;&nbsp;&nbsp;&nbsp;Invited talk at PBC School of Finance, Tsinghua University. 2020.09</p>

	<p ><img style="display: block; margin-left: auto; margin-right: auto;" src="/images/talks/PBC.png" ></p>
  </article>
</div>

<br>

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <p style="font-family:Times New Roman;font-size:110%;margin-bottom:1px;">&bull;&nbsp;&nbsp;&nbsp;Invited talk at Tencent Advertising Algorithm Competition Final. 2020.08</p>

	<p style="font-family:Times New Roman;margin-top:1px;">&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://mp.weixin.qq.com/s/vpYc6WCesp5zt8zGolM6PA"  target="_blank"><i class="fas fa-newspaper" style="font-size: 0.8em;"></i> News report</a></p>
  </article>
</div>

<br>

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <p style="font-family:Times New Roman;font-size:110%;margin-bottom:1px;">&bull;&nbsp;&nbsp;&nbsp;Invited talk at Alibaba DAMO Academy. 2019.11</p>

	<p ><img style="display: block; margin-left: auto; margin-right: auto;" src="/images/talks/alibaba.png"></p>
  </article>
</div>

<br>

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <p style="font-family:Times New Roman;font-size:110%;margin-bottom:1px;">&bull;&nbsp;&nbsp;&nbsp;Invited talk at Zhejiang University, Tongji University, Fudan University and Shanghai Jiao Tong University. 2019.10</p>

	<p ><img style="display: block; margin-left: auto; margin-right: auto;" src="/images/talks/university.png"></p>
  </article>
</div>