{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<br>

<table style="border-collapse: collapse; width: 100%;"><tbody>
	<tr bgcolor="#DEDEDC">
		<th colspan="1" align="left">
			<p> <strong><span style="font-family:Times New Roman; font-size: 18pt;">Secure Federated Learning Framework</span></strong></p>
		</th>
	</tr>
	<tr style="height: 250px;">
	
		
		
		
		
		
		<td style="vertical-align: middle; width: 70%; height: 250px;">
			
			<p style="vertical-align: middle; width: 30%; height: 250px;"> <img style="display: block; margin-left: auto; margin-right: auto;" src="/images/project2.png" alt="" width="300"></p>
			
			<p style="font-family:Times New Roman;font-size: 13pt;">
This project aims to unify and implement state-of-the-art adversarial attacks and defenses under federated learning scenarios.
</p>


			<p style="font-family:Times New Roman;font-size: 13pt;">
Adversarial attacks aim to breach privacy through various kinds of approaches, including but not limited to poisoning data or model, modifying loss function, model inversion, etc. Specifically, in this project, we cover the following attack strategies:<br>
1. Gradient Attacks<br>
2. Backdoor Attacks<br>
3. Byzantine Attacks<br>
</p>

<p style="font-family:Times New Roman;font-size: 13pt;">
In contrast, defense strategies aim to build a secure and robust FL framework, which enables resilience to various kinds of failures and attacks. In this project, we cover the following defense strategies:<br>
1. Differential Privacy<br>
2. Gradient Compression<br>
3. Robust Aggregation<br>
</p>

			<p style="font-family:Times New Roman;font-size: 13pt;">
</p>
			
			
			<p style="font-family:Times New Roman;font-size: 13pt;">Code</p>
		</td>
		
		
	</tr>
</tbody></table>


<br>

<table style="border-collapse: collapse; width: 100%;"><tbody>
	<tr bgcolor="#DEDEDC">
		<th colspan="2" align="left">
			<p> <strong><span style="font-family:Times New Roman; font-size: 18pt;">Awesome Federated Machine Learning </span></strong></p>
		</th>
	</tr>
	<tr style="height: 250px;">
	
		
		
		<td style="vertical-align: middle; width: 30%; height: 250px;"> <img style="display: block; margin-left: auto; margin-right: auto;" src="/images/project1.png" alt="" width="300"></td>
		
		
		<td style="vertical-align: middle; width: 70%; height: 250px;">
			
			
			<p style="font-family:Times New Roman;font-size: 13pt;">
Everything about federated learning, the goal is to keep tracking the latest research advancements of federated learning, including but not limited to research papers, books, codes, tutorials, and videos.
</p>

			<p style="font-family:Times New Roman;font-size: 13pt;">
1. Top Machine Learning Conferences (<a href="https://icml.cc/">ICML</a>,&nbsp; <a href="https://iclr.cc/">ICLR</a>,&nbsp; <a href="https://neurips.cc/">NeurIPS</a>)<br>
2. Top Computer Vision Conferences (CVPR,&nbsp; ICCV,&nbsp; ECCV)<br>
3. Top Artificial Intelligence and Data Mining Conferences (<a href="https://www.aaai.org/">AAAI</a>, &nbsp;<a href="https://aistats.org/">AISTATS</a>,&nbsp; <a href="https://kdd.org/conferences">KDD</a>)<br>
4. Books<br>
5. Papers with different research directions <br>
6. Conference workshops <br>
7. Videos, Tutorials, Blogs, and Open sources
</p>

			<p style="font-family:Times New Roman;font-size: 13pt;">
</p>
			
			
			<p style="font-family:Times New Roman;font-size: 13pt;">Code:&nbsp;<a href="https://github.com/innovation-cat/Awesome-Federated-Machine-Learning">Github Project</a></p>
		</td>
		
		
	</tr>
</tbody></table>