{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<style>
  .left {
	float: left;
	width: 60%;
	height: 350px;
	background-color: white;
  }
  .right {
	background-color: white;
	margin-left: 61%;
	height: 350px;
  }
</style>

<style>
         .order {
            height: 60px;
            line-height: 60px;
            text-align: center;
            border:0px solid white;
            width: 100%;
            border-radius: 5px;
        }
        .order .line {
            display: inline-block;
            width: 60px;
            border-top: 1px solid #ccc ;
            color: #F53A12;
        }
        .order .txt {
            color: #686868;
            vertical-align: -8%;
            /* vertical-align: -4px; */
        }
    </style>

<br>


<table>
	<tr><td>
		<div>
			<div class="left">

				<p class="txt" style="font-family:Times New Roman;font-size:120%;margin-bottom:1px;"><b>Practicing Federated Learning</b></p>
				
				<p style="font-family:Times New Roman;margin-top:1px;margin-bottom:1px;"><i><b>Abstract</b></i>: This book makes valuable contribution to practical federated learning. The material is well structured, the terminologies and basic knowledge are well explained, coupled with many case studies and pseudo-codes help to understand the facts of this interesting field of research. </p>
				<hr>
				<p style="font-family:Times New Roman;margin-top:1px;margin-bottom:1px;"><i><b>Authors</b></i>: Qiang Yang,&nbsp;&nbsp;Anbu Huang,&nbsp;&nbsp;Yang Liu,&nbsp;&nbsp;Tianjian Chen<br><i><b>Publisher</b></i>：Publishing House of Electronics Industry (PHEI)<br><i><b>ISBN</b></i>：9787121407925<br><i><b>Date</b></i>：2021-05-01</p>
				<hr>
				
				
				<p align="center" style="font-family:Times New Roman;margin-top:1px;margin-bottom:1px;"><a href="https://github.com/FederatedAI/Practicing-Federated-Learning" >Project</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://item.jd.com/13206070.html">Purchase</a></p>
				
			</div>

			<div class="right">
				<img src="/images/pfl_book.png" width="300" height="350" />
			</div>

		</div>
	</td></tr>
</table>


<br>
<br>

<table>
	<tr><td>
		<div>
			<div class="left">

				
				<p class="txt" style="font-family:Times New Roman;font-size:120%;margin-bottom:1px;"><b>Dive into Deep Learning</b></p>
				
				<p style="font-family:Times New Roman;margin-top:1px;margin-bottom:1px;"><i><b>Abstract</b></i>: Deep learning has become essential for machine learning practitioners and even many software engineers. This book provides a comprehensive introduction for data scientists and software engineers with machine learning experience. You’ll start with deep learning basics and move quickly to the details of important advanced architectures, implementing everything from scratch along the way.</p>
				<hr>
				<p style="font-family:Times New Roman;margin-top:1px;margin-bottom:1px;"><i><b>Authors</b></i>: Anbu Huang<br><i><b>Publisher</b></i>：Publishing House of Electronics Industry (PHEI)<br><i><b>ISBN</b></i>：9787121312700<br><i><b>Date</b></i>：2017-06-01</p>
				<hr>
				
				
				<p align="center" style="font-family:Times New Roman;margin-top:1px;margin-bottom:1px;"><a href="https://github.com/innovation-cat/DeepLearningBook" >Project</a></p>
				
			</div>

			<div class="right">
				<img src="/images/dl_book.png" width="300" height="350" />
			</div>

		</div>
	</td></tr>
</table>