{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div  class="{{ include.type | default: "list" }}__item">
	<p style="font-family:Times New Roman;font-size:110%;margin-bottom:1px;"><b>Selected Honors and Awards</b></p>
</div>

<figure>

  <picture>

    <!-- Fallback to the original file -->
    <img  src="/images/honor1.png" data-zoomable />

  </picture>

  <figcaption class="caption">NASA Awards</figcaption>

</figure>
